
body {
	  margin:0;
	  padding:0;
     }
.container {
	        width:1200px;
			margin:auto;
           }



.div2 { 
	   position:relative;
	   background:#1f9ed5;
	   height:40px;
	   
      }
.ulmenu{
	    
	    list-style:none;
		width:1200px;
	    margin:0 auto; 
       }
.ulmenu>li{
	       padding-top:5px;
	       float:left;
	       margin-top:0px;
	       display:inline;
		   margin-right:30px;
          }
.ulmenu>li>a{
	         text-decoration:none;
		     color:white;
            }
p{
	text-align:justify;
	font-size:16px;
}
h3{
	text-decoration:underline;
}
table{
		margin-top:100px;
}
.div3{
		margin-left:200px;
}
.h3{
	 text-align:center;
	 color:#1f9ed5;
}
.divres{
		margin-left:200px;
		margin-top:150px;
}
